*{
    transition: 5s;
}
body{
    margin: 0px;
    background-color: darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', serif;
    width: 100%;
}

button{
    background-color: darkblue;
    color: #DBB216;
}
#On{
    display: none;
}

header{
    width: 100%;
    height: 60px;
    margin: 0px;
    background-color: #0BDB4B;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    margin-left: .5%;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #DB1816;
}
.scriptControls{
    display: flex;
    flex-direction: column;
}
.instructions, .inputs{
    display: flex;
    justify-content: space-between;
}
h4{
    width: 18%;
    margin: 0px;
    color: #9C1210;
}
input{
    width: 17%;
    background-color: #DBB216;
    border-color: #1623DB;
}

main{
    width: 100%;
}
marquee{
    color: lawngreen;
    font-size: 7em;
    font-weight: bolder;
}