*{
    transition: 5s; /* This is how fast/slow the transitions take to show. It's a decent sized value so as to not make the screen flash. */
}
body{
    margin: 0px;
    background-color: darkblue;
    width: 100%;
}

button{
    background-color: darkblue;
    color: #DBB216;
    width:fit-content;
}
#On{
    display: none; /* This makes it so the element with the id of On not show on the page. */
}

header{
    width: 100%;
    height: 120px;
    margin: 0px;
    background-color: #0BDB4B;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    margin-left: .5%;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #DB1816;
}
.scriptControls{
    display: flex;
    flex-direction: column;
}
.instructions, .inputs{
    display: flex;
    justify-content: space-evenly;
}
h4{
    width: 15%;
    margin: 0px;
    color: #9C1210;
    font-family: monospace;
    border: 1px solid black; /* Debugging */
}
input{
    width: 15%;
    background-color: #DBB216;
    border-color: #1623DB;
}
#secondInputs{
    margin-left: -5%;
}


main{
    width: 100%;
}
marquee{
    color: lawngreen;
    font-size: 7em;
    font-weight: bolder;
    text-shadow: 7px 5px 20px #0f0f0f;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* ---------- https://www.w3schools.com/howto/howto_css_switch.asp ----------- */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }